<div class="hero-area">
  <div class="hero-bg-box">
    <img src="../../../assets/hero-section/hero-bg.png" alt="" />
  </div>
  <div class="hero-section">
    <div class="hero-left">
      <h2>DONT GAME ALONE</h2>
      <h3>
        Say goodbye to spending countless nights gaming alone!
        <span class="icons">👻👾🕹️</span>
      </h3>
      <div class="hero-button">Get started</div>
    </div>
    <div class="hero-right">
      <img src="../../../assets/hero-section/phone-stock.png" alt="" />
    </div>
  </div>
</div>
