#mainNavigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding-bottom: 30px;
    backdrop-filter: blur(3px);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.9) 1%, rgba(0, 0, 0, 0) 100%);
    .img-container {
        border-bottom: 1px var(--text-color) solid;
        img {
            width: 20em;
            height: 20em;
            margin: -5em;
        }
    }
    .nav-item {
        .user-nav {
            display: flex;
            align-items: center;
            justify-content: space-around;

            .logout:hover {
                color: red;
            }
        }
        .loader_container {
        }
        min-width: 12vw;
        span {
            color: var(--text-color);
            font-size: 1.1em;
            text-transform: uppercase;
            letter-spacing: 2px;
            cursor: pointer;
        }
        :hover {
            color: var(--theme-hover-color);
        }
    }
}

@media (max-width: 765px) and (min-width: 200px) {
    #mainNavigation {
        padding-bottom: 0px;
    }
}

@media (max-width: 1250px) {
    .user-nav {
        flex-direction: column;
    }
}
